@import '../variables';

.popup {
  padding: 24px 24px 56px;
  margin: auto;
  max-width: 500px;
  border: none;
  border-radius: 16px;

  &::backdrop {
    background-color: rgb(0 0 0/0.4);
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: $plumbum;
    margin-bottom: 40px;
  }

  &__button {
    position: absolute;
    top: 29px;
    right: 24px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: {
      color: transparent;
      image: url('../../assets/images/close.svg');
      size: contain;
    }
  }

  &__additional {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: $plumbum;
    margin-bottom: 12px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: $asphalt;
  }
}

.table-column {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: $plumbum;
  text-align: left;
  padding-right: 40px;
}

.table-row {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $asphalt;
  text-align: left;
}
